.about-img-three img.about-img {
  border-radius: 100% !important;
  width: 50%;
}

.about-me-paragraph {
  font-size: 18px;
}

/* -- cursor --- */
body {
  cursor: url(/cursor.png), auto;
}

/* -- scrollbar -- */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #003cff;
  border-radius: 10px;
}

/* -- -- -- */

@media only screen and (max-width: 500px) {
  .about-img-three img.about-img {
    border-radius: 100% !important;
    width: 40%;
  }
}
