.about-img-three img.about-img {
    border-radius: 100% !important;
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .about-img-three img.about-img {
        border-radius: 100% !important;
        width: 50%;
    }
}
