<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-nav-list>
        <div class="spacer"></div>
        <a mat-list-item href="#">CV ES</a>
        <div class="spacer"></div>
        <a mat-list-item href="#">CV EN</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <div class="page-wrap">
      <header role="banner">
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Juan Navas</span>
        </mat-toolbar>
      </header>
  
      <main class="content">

        <app-content></app-content>
        
      </main>
      
      <footer>
        <mat-toolbar color="primary"><span>My Awesome Footer 2018</span></mat-toolbar>
      </footer>

     </div>
</mat-sidenav-container>
