<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-nav-list>
            <div class="spacer"></div>
            <a mat-list-item href="#">CV ES</a>
            <div class="spacer"></div>
            <a mat-list-item href="#">CV EN</a>
        </mat-nav-list>
    </mat-sidenav>

    <div class="page-wrap">

        <!-- <header role="banner"> -->
        <mat-toolbar color="primary" class="main-toolbar">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            <h1>Juan Navas</h1>
        </mat-toolbar>
        <!-- </header> -->
        <main class="content">

            <app-content></app-content>

        </main>

        <footer>
            <mat-toolbar color="primary">
                <!-- <div class="titulo"><span>&copy;2018 — Juan Navas</span></div> -->
                <div class="footer">
                    <div class="iconos">
                        <button mat-icon-button><mat-icon><i class="fab fa-facebook"></i></mat-icon></button>
                        <button mat-icon-button><mat-icon><i class="fab fa-twitter"></i></mat-icon></button>
                        <button mat-icon-button><mat-icon><i class="fab fa-github"></i></mat-icon></button>
                        <button mat-icon-button><mat-icon><i class="fab fa-linkedin"></i></mat-icon></button>
                        <button mat-icon-button><mat-icon><i class="fab fa-instagram"></i></mat-icon></button>
                    </div>
                </div>
            </mat-toolbar>
        </footer>

    </div>
</mat-sidenav-container>