.sidenav-container {
    height: 100%;
}

.sidenav {
    background-color: #ccc;
    width: 125px;
}

.spacer {
    height: 30px;
}

.main-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.mat-toolbar {
    font-size: 1em;
    font-weight: 300;
    height: 10vh;
    max-height: 45px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.iconos button {
    margin-left: 2vh;
    margin-bottom: 1vh;
}