:root {
  --background: #e9ecf4;
  --text-color: #202429;
  --border-color: #2b4da4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* -- custom scrollbar -- */
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}
