/* -------- colors -------- */

:root {
  --background: #e9ecf4;
  --text-color: #202429;
  --border-color: #2b4da4;
  --settings-bg: #e9ecf4;
}

body.dark {
  --background: #202528;
  --text-color: #ececec;
  --settings-bg: #d2d2d2;
}

/* ---------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: 0.3s;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: 'Nunito';
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.svg path {
  fill: var(--text-color);
}

/* -- custom scrollbar -- */
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}
