<div class="wrapper">
    <div class="page-header page-header-small" filter-color="primary">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/frankfurt.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/JuanNavas.png" alt="">
                </div>
                <h3 class="title">Juan Navas</h3>
                <p class="category">Programador</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="assets/pdf/V1-CV_ES.pdf" target="_blank" class="btn btn-primary btn-round btn-lg">Descarga mi CV</a>
            </div>
            <h3 class="title">Sobre mí</h3>
            <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable
                range.
            </h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Mi Portafolio</h4>
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">

                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_atom"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-4">
                                                <a href="#" target="_blank">
                                                    <p class="category">BLANK</p>
                                                    <img src="assets/img/trabajos/7.png" alt="" class="img-raised">
                                                </a>
                                                <a href="https://obscure-fortress-11609.herokuapp.com/" target="_blank">
                                                    <p class="category">Agencia</p>
                                                    <img src="assets/img/trabajos/6.png" alt="" class="img-raised">
                                                </a>
                                                <a href="assets/html/index3.html" target="_blank">
                                                    <p class="category">Portafolio</p>
                                                    <img src="assets/img/trabajos/3.png" alt="" class="img-raised">
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="https://juannavasjn.github.io/platzimusic-vuejs/index.html" target="_blank">
                                                    <p class="category">PlatziMusic con VueJS</p>
                                                    <img src="assets/img/trabajos/8.png" alt="" class="img-raised">
                                                </a>
                                                <a href="assets/php/index5.php" target="_blank">
                                                    <p class="category">Formulario</p>
                                                    <img src="assets/img/trabajos/5.png" alt="" class="img-raised">
                                                </a>
                                                <a href="assets/html/index2.html" target="_blank">
                                                    <p class="category">Layout con flexbox</p>
                                                    <img src="assets/img/trabajos/2.png" class="img-raised">
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="https://crudlaravelvuejs.herokuapp.com/" target="_blank">
                                                    <p class="category">CRUD con login</p>
                                                    <img src="assets/img/trabajos/7.png" alt="" class="img-raised">
                                                </a>
                                                <a href="assets/html/index4.html" target="_blank">
                                                    <p class="category">Café Restaurante</p>
                                                    <img src="assets/img/trabajos/4.png" alt="" class="img-raised">
                                                </a>
                                                <a href="assets/html/index1.html" target="_blank">
                                                    <p class="category">Layout Básico</p>
                                                    <img src="assets/img/trabajos/1.png" class="img-raised">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>

        <div class="section-contact-us text-center">
            <div class="container">
                <h2 class="title">Contáctame</h2>
                <!-- <p class="description">Your project is very important to us.</p> -->
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                              <i class="now-ui-icons users_circle-08"></i>
                          </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                          </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Correo" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                        <div class="textarea-container">
                            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Mensaje..."></textarea>
                        </div>
                        <div class="send-button">
                            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Enviar Mensaje</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> and
                <a href="#">Juan Navas</a>.
            </div>
        </div>
    </footer>
</div>